/*** ESTILO PARA LA PAGINA EN GENERAL ***/
*{
    padding: 0;
    box-sizing: border-box; /*el valor border-box en el box-sizing hace que el padding y el border 
    pasen a formar parte del cálculo del ancho de la caja (width) y no lo suman posteriormente*/
    margin: 0;
}
body{
    font-family: "Open Sans", sans-serif; /*El estilo agrega 8px de height adicionales a las fuentes (
        en este caso afecta a los iconos tambien)*/
}

.container{
    width: 100%;
    z-index: 1; /*Le indico un z-index de uno para colocar otros elementos por arriba de este*/
}

.article-container {
    display: flex;
    flex-direction: column;
    /*position: fixed; /*El area de sections se mostrara siempre en la pantalla por mas que se haga scroll (ocupara todo el espacio por mas que se agrande o disminuya la pantalla)*/
    /*FORMA 1 para mostrar menu y secciones*/
    /*
    margin-left: 300px; /*Le indico al contenedor de sections que tendra un margen izquierdo de 300px (tamaño del menu navegable asi se muestren ambos)
    transition: margin-left 1s; /*Le doy una transicion para que cuando el tamaño de la pantalla supere el max-width se muestre lentamente
    max-width: calc(100% - 300px); /*le indico que el ancho maximo sera el 100%-300px porque margin desplaza todo el contenedor, ocultando 300px del lado derecho
    */
    /*FORMA 2 para mostrar menu y secciones*/
    padding-left: 300px; /*Le indico al contenedor de sections que tendra un padding izquierdo de 300px (tamaño del menu navegable asi se muestren ambos)*/
    transition: padding-left 1s; /*Le doy una transicion para que cuando el tamaño de la pantalla supere el max-width se muestre lentamente*/
    width: 100%; 
    height: 100%; /*le aplico un tamaño del 100% de height de la pantalla*/
    /*max-height: 100%; /* Establece un alto máximo para permitir el scroll */
    /*overflow-y: auto; /* Habilita el scroll cuando sea necesario */
}

.article-section{
    color: black;
    background: rgb(226, 131, 131);
    /*min-height: 100%; /*De este modo cada section siempre ocupera el 100% de la pantalla del article-container*/
    /*height: 100%; /* Combinado con la propiedad min-heigh cada section ira creciendo conforme al contenido */
    margin-bottom: 1px; /* Espacio entre secciones */
    padding: 10px; /*Espacio entre la section y el article-container*/
}
/*------------------------------------------------------------------*/
/*                          BOTON DE MENU                           */
/*------------------------------------------------------------------*/

/*Esta clase tiene el div que contiene el boton para abrir el menu*/
.menu-button{
    display: none; /*Ocultara el boton hasta que la resolucion sea la indicada para que aparezca*/
    position: fixed; /*El boton menu se mostrara siempre en la pantalla por mas que se haga scroll (con fixed dependera solo del tamaño de su contenido) */
    z-index: 3; /*Le indico que estara encima del que tiene z-index menor (osea el contenedor principal)*/
    top: 1rem;  /*Posiciona el elemento en la parte superior del navegador (1rem para que no este pegado al borde)*/
    right: 1.5rem; /*Posiciona el elemento a la derecha del navegador (2.5rem para que no este pegado al borde)*/
    text-align: center; /*Centra el div que contiene los iconos*/
}
/*Enlace-Boton de menu con forma circular*/
.menu-button a {
    display: inline-block; /*Hace que el elemento ocupe solo su contenido, pero sus propiedades sean block (editables)*/
    background: #212431; /*Color del fondo de los enlaces*/
    color: #fff; /*Color del contenido de los enlaces*/
    padding: 6px; /*Espacio entre los iconos y los enlaces "a"*/
    border-radius: 50%; /*Convierte a bordes circulares los enlaces*/
    width: 53px; /*Le da el ancho al enlace*/
    height: 53px; /*Le da el alto al enlace*/
    line-height: 53px; /*Establezco la altura de linea igual al alto del enlace, para centrar la img dentro de <a>*/
    transition: transform 0.3s ease, box-shadow 0.5s ease;/*La transicion se aplica a cada propiedad con diferentes tiempos*/

}
.menu-button a:hover{
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
}
.menu-button a img{
    scale: 1.2; /*Aumento en un 20% el tamaño de la imagen*/
}
/*------------------------------------------------------------------*/
/*                          FIN BOTON DE MENU                       */
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*                          MENU NAVEGABLE                          */
/*------------------------------------------------------------------*/

/*Estilo para el header que es el menu navegable*/
#header{
    position: fixed; /*El menu navegable se mostrara siempre en la pantalla por mas que se haga scroll*/
    top: 0;
    left: 0; 
    bottom: 0;
    width: 300px; /*Ancho del menu*/ 
    z-index: 2; /*Le indico un index para que el menu siempre aparezca sobre el contenedor (estara arriba de los section)*/
    transition: all 0.99s; /*Transicion para que aparezca cuando la pantalla crezca*/

    padding: 0 15px; /*Espaciado de izquierda y derecha, entre el contenido y los bordes*/
    background: #040b14; /*Color del fondo*/
    overflow-y: auto; /*Se mostrara un scroll si hay contenido que sobrepasa espacio visible*/
}

/*Estilo para la imagen de perfil*/
.profile img {
    margin: 15px auto; /*Los margenes izquierdos y derechos se calcularan automaticamente para centrar la imagen*/
    display: block;
    height: auto;
    width: 120px;
    border-radius: 50%!important;
}
/*Estilo para el titulo*/
.profile h1 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}
/*Estilo para el enlace que esta dentro de h1 y a su vez dentro del div que tiene la clase .profile*/
.profile h1 a{  
    color: #fff; /*Color del titulo*/
    text-decoration: none; /*Quita subrayado del titulo ya que es un  enlace*/
}
/*Esta clase tiene el div que contiene los enlaces a las redes sociales*/
.social-links{
    text-align: center; /*Centra el div que contiene los iconos*/
    height: 75px; /*Alto del contenedor de los links a redes sociales*/
}
/*Enlaces con forma circular*/
.social-links a {
    display: inline-flex; /*Le doy un estilo flex e inline para que los elementos solo ocupen su tamaño y no se pongan uno debajo de otro*/
    align-items: center; /*Centro horizontalmente el contenido (en este caso los iconos)*/
    justify-content: center; /*Centro verticalmente el contenido (en este caso los iconos)*/
    text-decoration: none; /*Le quito la decoracion al enlace para que no aparezca subrayado*/
    margin-top: 1rem; /*Espacio entre los enlaces de redes sociales y el titulo*/
    font-size: 24px; /*Tamaño del contenido dentro de los enlaces (en este caso los iconos)*/
    /*display: inline-block; /*Hace que el elemento ocupe solo su contenido, pero sus propiedades sean block (editables)*/
    background: #212431; /*Color del fondo de los enlaces*/
    color: #fff; /*Color del contenido de los enlaces*/
    /*padding: 0.35rem; Espacio entre los iconos y los enlaces "a"*/
    margin-right: 10px; /*Espacio del lado derecho de cada enlace*/
    border-radius: 50%; /*Convierte a bordes circulares los enlaces*/
    width: 43px; /*Le da el ancho al enlace*/
    height: 43px; /*Le da el alto al enlace*/
    transition: transform 0.3s ease, box-shadow 0.5s ease;/*La transicion se aplica a cada propiedad con diferentes tiempos*/
}
.social-links a:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transform: scale(1.15); /*aumenta el tamaño de todo en un 15%*/
}

/*------------------------------------------------------------------*/
/*                      FIN DE MENU NAVEGABLE                       */
/*------------------------------------------------------------------*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*                  DISEÑO RESPONSIVE-MENU NAVEGABLE                */
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*Este estilo se aplicara cuando la resolucion de la pantalla sea 768px o menos*/
@media screen and (max-width: 768px){
    /*Con esto el boton del menu aparecera solo cuando la pantalla sea 768px o menor*/
    .menu-button{
        display:block;
    } 
    /*Estilo para que el menu se deslize a la izquierda y se esconda cuando la resolucion sea menor 768px*/
    #header{
        transform: translateX(-100%); /*Con traslate x -100 oculto el menu de forma horizontal (mejor rendimiento en movil que left)*/
        transition: transform 1.01s;
        /*left: -300px;
        transition: left 1s;*/
    }
    /*Estilo para que el area de sections se deslize a la izquierda y se muestre en toda la pantalla cuando la resolucion sea menor 768px*/
    .article-container{
        /*cambios para "FORMA 1 de mostrar menu y secciones"*/
        /*
        max-width: 100%;
        margin-left: 0; /*Pongo el margen en 0 para que el area de sections ocupe toda la pantalla
        transition: margin-left 0.99s; /*la transicion se hara a una velocidad de 0.99s*/

        /*cambios para "FORMA 2 de mostrar menu y secciones"*/
        padding-left: 0; /*Pongo el padding en 0 para que el area de sections ocupe toda la pantalla*/
        transition: padding-left 0.99s; /*la transicion se hara a una velocidad de 0.99s*/
    }
    /*NOTA: ¿por que la transicion del header es 1s y article-container es 0.99? porque si fueran iguales hay una pequeña linea que ve
    al momento de las transiciones, al ser diferentes por 0.01s esa linea no es apreciable*/ 
}
/*Esta clase tendra efecto solo cuando se de click al boton para abrir el menu (se agrega la clase showmenu al contenedor principal)*/
.showmenu #header{
    transform: translateX(0); /*Con traslate x en 0 vuelvo a posicionar el menu en su posicion original (mejor rendimiento en movil que left)*/
    transition: transform 1s;
    /*left: 0; /*Vuelve a poner la posicion left del menu a su valor original para que se muestre*/
    /*transition: left 1s; /*Transicion que tendra la aparacion del menu*/
}
@media screen and (max-width: 480px){
    .article-container{
        flex-wrap: wrap; /*Se aplicara un wrap despues de bajar de 480px asi toda la pantalla se encoja*/
    }
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*               FIN DISEÑO RESPONSIVE-MENU NAVEGABLE               */
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/


/*------------------------------------------------------------------*/
/*                      LISTA DE MENU NAVEGABLE                     */
/*------------------------------------------------------------------*/
/*Le saco los eventos por defecto a los iconos de ion-icon (para no mostar los nombres por defecto de estos)*/
ion-icon{
    pointer-events: none;
    font-size: 22px;
}
.dropdown{ 
    width: 100%;
    padding: 1em 0 0 0; /*Espacio entre los logos de redes sociales y la lista*/
    display: grid; /*creo una cuadricula*/

    gap: .5rem; /*espaciado entre el contenido*/
    /*overflow-y: auto;/*esto es para que en el caso de que el contenido del dropdown
    se superior al alto en nuestro navegador, se cree un scroll*/
}
.dropdown_list{
    list-style: none; /*le saco todos los estilos a la lista*/
}
.dropdown_link{
    font-size: 19px;
    color: white;
    padding: 1em .7em;
    text-decoration: none; /*le saco la linea de abajo al link*/

    display: flex; 
    align-items: center; /*centro verticalmente a los elementos (el icono y el span)*/
    gap: .6rem; /*espaciado entre cada elemento*/

    background-color: transparent; 
    border-radius: 6px; /*le doy un borde a las esquinas del fondo*/
}
/*Estilo que se aplica al pasar el cursor sobre los enlaces*/
.dropdown_link:hover{
    background-color: rgb(204, 201, 201, 0.2); /*Color gris con opacidad 0.2*/
    transition: 0.3s; /*Tiempo que se demora la transicion del cambio de color del fondo*/
}
/*Estilo de la flecha para abrir la sublista*/
.dropdown_arrow{
    margin-left: auto; /*mando el icono de la flecha al costado derecho*/
    transition: transform 0.5s; /*Esta transcion solo se aplicara al transform (propiedad que tendra cuando a su padre
    osea el enlace <a> le den click)*/
}
/*Cuando el <a> que tiene la clase dropdown_link_click recibe la clase "arrow" desde js entonces a su hijo con la
clase dropdown_arrow se le agregar un transform para rotar la flecha 180°*/
.arrow .dropdown_arrow{
    transform: rotate(180deg);
}
/*------------ ESTILOS DE LA SUBLISTA ------------*/

/*Estilo de UL en la sublista*/
.list_show{
    /*margin-top: .5rem; /*Espacio entre la parte de arriba del ul de la sublista y el enlace de la lista principal*/
    height: 0; /*el height empieza en 0 para ocultar la sublista*/
    transition: height .5s; /*Transicion que se aplicara cuando cambie el height cada vez que hago click (el height cambia con js)*/
    display: grid;
    overflow-y: auto; /*Inserta un scroll cuando se desborda del height indicado*/
    gap: .5rem; /*Espaciado entre los li*/
}
/* Estilo del scrollbar para navegadores webkit (Chrome, Safari) */
.list_show::-webkit-scrollbar {
    display: none; /*Hace invisible el scrollbar*/
}

/*Estilo de LI en la sublista*/
.list_inside{
    padding: 0 .5em 0 0; /*Dejo un pequeño espacio entre cada enlace y la barra de desplazamiento*/
    width: 85%; /*Le doy un tamaño del 85% a los li que contiene los proyectos del portafolio*/
    list-style: none;
    margin-left: auto; /*mando los links al costado derecho*/
}
/*Estilo de <a> en la sublista*/
.link_inside{
    font-size: 1em;
    color: white;
    padding: .5em 1em;
    text-decoration: none; /*le saco la linea de abajo al link*/
    background: transparent;
    display: flex; 
    border-radius: 6px; /*le doy un borde a las esquinas del fondo*/
}
/*Estilo que se aplica al pasar el cursor sobre los enlaces de la sublista*/
.link_inside:hover{
    background-color: rgb(204, 201, 201, 0.2); /*Color gris con opacidad 0.2*/
    transition: 0.3s; /*Tiempo que se demora la transicion del cambio de color del fondo*/
}
/*------------------------------------------------------------------*/
/*                      FIN LISTA DE MENU NAVEGABLE                 */
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/*                              SECCIONES                           */
/*------------------------------------------------------------------*/

/*Estilos para el div interior de las secciones*/
.section-div{
    background-color: rgb(255, 255, 255);
    margin: auto; /*Centra el div respecto a la section "contact" dejando margenes iguales a la izquierda y derecha*/
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 1rem; /*Espacio entre el contenedor principal y los demas contenedores dentro*/
}

/*Estilos para el titulo de las secciones*/
.title-section-div{
    font-size: 24px;
    color: #143b66;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #489de8;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

/*------------------------------------------------------------------*/
/*                          SECCION DE CONTACTO                     */
/*------------------------------------------------------------------*/
/* #region CONTACT STYLES*/

/*Estilos para fomulario*/
.contact-form-div{
    display: grid; /*Utilizo grid para separar en dos columnas el div*/
    grid-template-rows: 1fr; /*Tamaño de las filas*/
    grid-template-columns: 2fr 1fr; /*Creo dos columnas de igual tamaño*/
    gap: 0px 2rem; /*2rem de espaciado entre ambas columnas*/

    padding-top: 1rem; /*Espacio entre el div del form y el div del titulo*/
}
.contact-form{
    display: flex;
    flex-direction: column; /*Indica que los elementos hijos del form se colocen en filas, es decir uno debajo de otro*/
    
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .15);
    padding: 1rem 2rem; /*Espacio entre los bordes del form y sus elementos dentro*/
}
    .contact-form label{
        padding: .5rem 0; /*Espaciado superior e inferior en las etiquetas*/
        display: block;
    }
    .contact-form input{
        padding: 0.375rem 0.75rem; /*Espaciado entre el texto del input y sus bordes*/
        display: block;
        border: solid 1px #dee2e6;
        height: 2.5rem; /*Alto del input*/
        margin-bottom: 1rem; /*Cada input dejara un margen de 1 rem del lado de abajo*/
    }
        /*Estilo del input al ganar foco (hacer click sobre el)*/
        .contact-form input:focus{
            outline: none; /*Quito los bordes por defecto cuando se hace click en el input*/
            border: solid 1px #489de8; /*Cambio el color del borde al ganar el foco*/
        }
    .contact-form textarea{
        padding: 0.375rem 0.75rem; /*Espaciado entre el texto del textarea y sus bordes*/
        resize: none; /*Evito que el textarea pueda ser reajustado manualmente*/
        display: block;
        border: solid 1px #dee2e6;
        font-family: "Open Sans", sans-serif; /*Para forzar el tipo de fuente del textarea*/
    }
        /*Estilo del input al ganar foco (hacer click sobre el)*/
        .contact-form textarea:focus{
            outline: none; /*Quito los bordes por defecto cuando se hace click en el input*/
            border: solid 1px #489de8; /*Cambio el color del borde al ganar el foco*/
        }
    .contact-form button{
        margin: 1rem auto 0; /*Dejo 1 rem entre el boton y el textarea, auto para centrar el div y 0 de abajo*/
        width: 50%; /*Tamaño del boton respecto al contenedor*/
        border: none; /*Le quito los bordes al boton*/
        color: white; /*Color del texto del boton*/
        cursor: pointer; /*Al posicionar el curso en el boton cambia al diseño pointer*/
        background-color: #1365b6; 
        padding: .7rem;
        font-size: 1.2rem;
        border-radius: 4px; /*Redondeo del boton*/
        display: block;
    }
        /*Estilo del boton al pasar el mouse sobre este*/
        .contact-form button:hover{
            background-color: #105094; /*Cambio el color del fondo del boton*/
            transition-duration: 0.5s; /*Duracion del cambio de estilos*/
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3); /*Le doy un brillo al texto del boton*/
        }

.contact-extra{
    padding: 1rem;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .15);
    color: #105094; /*Color del h3 dentro del div extra*/

    /*Utilizo flex para centrar su contenido*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    .contact-extra img{
        width: 75px;
        height: 100px;
        opacity: 1;
    }
    .contact-extra iframe{
        width: 90%;
        height: 60%;
        border: none;
    }

/*Clase para la Ventana modal*/
.modal{
    /*Con los primeros 4 valores en 0 posiciono la ventana modal en el centro de la pantalla*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0; /*Opacidad 0 para que permanezca oculta*/
    pointer-events: none; /*Le quito interaccion con el puntero*/
    transition: opacity .6s;
    z-index: 3;
}
/*Clase para mostrar las ventanas modal*/
.modal--show{
    opacity: 1; /*Opacidad en 1 para mostrar la ventana*/
    pointer-events: unset; /*Le agrego interaccion con el puntero*/
    transition: opacity .6s;
}
/*Clase para el Contenido de las Ventanas modal ELIMINAR*/
.modalContenido{
    /*Valores para el tamaño y posicion de la ventana modal*/
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 2em 1em;
    /*Valores para la disposicion de los elementos de la ventana (titulo y botones)*/
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    grid-template-rows: repeat(2,auto);
}
.modalTitulo{
    text-align: center; /*Para centrar el centro y que no este todo corrido a la izquierda*/
    color: #105094;
}
.modalBtnClose{
    border: none; /*Le quito los bordes al boton*/
    color: white; /*Color del texto del boton*/
    cursor: pointer; /*Al posicionar el curso en el boton cambia al diseño pointer*/
    background-color: #1365b6; 
    padding: .3rem;
    font-size: 1.2rem;
    border-radius: 4px; /*Redondeo del boton*/
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*                  DISEÑO RESPONSIVE-SECCION CONTACTO                */
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*Este estilo se aplicara cuando la resolucion de la pantalla sea 768px o menos*/
@media screen and (max-width: 1200px){
    .contact-form-div{
        grid-template-rows: repeat(2, 1fr); /*Tamaño de las filas*/
        grid-template-columns: 1fr; /*Creo dos columnas de igual tamaño*/
        gap: 2rem 0; /*1rem de espaciado entre ambas columnas*/
    }
}
/*#endregion*/
/*------------------------------------------------------------------*/
/*                             SECCION ABOUT                        */
/*------------------------------------------------------------------*/
/* #region ABOUT STYLE*/

/*Estilos para el div principal de la seccion about*/
.about-inner-div{
    display: grid; /*Utilizo grid para separar en dos columnas el div*/
    grid-template-rows: 1fr; /*Tamaño de las filas*/
    grid-template-columns: 1fr 1fr; /*Creo dos columnas de igual tamaño*/
    gap: 0px 2rem; /*1rem de espaciado entre ambas columnas*/
    
    padding: 2rem 0; /*El contenido dejara un espacio de 2rem(arriba y abajo) respecto a los bordes del div*/
}

/*Estilo del contenedor de las imagenes*/
.gallery{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*Creo 3 columnas iguales*/
    grid-gap:10px; /*Separacion entre las columnas*/
    height: 500px; /*Alto del contenedor*/
    background: #ffffff; /*fondo del contenedor*/
    transition: 0.25s; /*Transicion para las propiedades definidas arriba(en este caso en grid-template-columns al hacer hover y el filtro grayscale)*/
}
/*Estilo para los div que contienen las imagenes*/
.gallery .box{
    position: relative;
    background: var(--img); /*Defino la variable "img" como background y le asigno un url de cada imagen a traves del index.html*/
    background-position: center; /*Posicion del background*/
    /*background-size: cover;/*Con cover la imagen se escalará según sea necesario para cubrir el contenedor (puede dejar contenido fuera)*/
    background-size: 420px 560px;
    background-repeat: no-repeat;
    transition: 0.25s; /*Transicion para las propiedades(en este caso el filtro grayscale y brightness al hacer hover)*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilo para los elementos del contenedor que contiene las clase "one", se le aplicara un hover*/
.gallery:has(.one:hover), .gallery:has(.one.touch){
    grid-template-columns: 2fr .5fr .5fr;
}
/*Estilo para los elementos del contenedor que contiene las clase "one", se le aplicara un hover*/
.gallery:has(.two:hover), .gallery:has(.two.touch){
    grid-template-columns: .5fr 2fr .5fr;
}
/*Estilo para los elementos del contenedor que contiene las clase "one", se le aplicara un hover*/
.gallery:has(.three:hover), .gallery:has(.three.touch){
    grid-template-columns: .5fr .5fr 2fr;
}
/*Estilo para los elementos hijos de "gallery" que sean "pares"*/
.gallery .box:nth-child(even){
    transform: translateY(1rem); /*Envio el div 1rem abajo*/
}
/*Estilo para los elementos hijos de "gallery" que sean "pares"*/
.gallery .box:nth-child(odd){
    transform: translateY(-1rem); /*Envio el div 1rem arriba*/
}

/*Estilo del contenedor de la informacion acerca de mi*/
.information-about{
    display: flex; /*Hago flexible el contenedor de la informacion*/
    flex-wrap: wrap; /*Los elementos se ajustaran automaticamente*/
}
/*Estilo para los div hijos del div information-about*/
.information-about div{
    /*padding-right: 1rem; /*Espacio derecho de un rem entre el contenedor y el texto*/
    width: 100%;  /*Los div hijos no podran tener un tamaño menor a 50% de esa forma los elementos se posicionaran uno debajo de otro*/
    margin-bottom: 20px; /*Espacio que deja cada div debajo de el*/
    font-size: 20px;  
    /*white-space: nowrap; /*Los textos de los divs se mantendran en una sola linea*/
}
/*Estilo para los textos strong del div information-about*/
.information-about strong{
    margin-right: 5px;  /*Margen derecho entre los strong y los span*/
    color: #105094;
}
/*Estilo para los parrafos del div information-about*/
.information-about p{
    font-size: 20px;
}
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*                  DISEÑO RESPONSIVE-SECCION ABOUT                 */
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*Este estilo se aplicara cuando la resolucion de la pantalla sea 1200px o menos*/
@media screen and (max-width: 1200px){
    .about-inner-div{
        grid-template-rows: repeat(2, 1fr); /*Tamaño de las filas*/
        grid-template-columns: 1fr; /*Creo una columna*/
        gap: 3rem 0; /*3rem de espaciado entre ambas filas*/
    }
}
/* #endregion */
/*------------------------------------------------------------------*/
/*                            SECCION RESUME                        */
/*------------------------------------------------------------------*/
/* #region RESUME STYLE*/
/*Estilo para el div principal de la seccion resume*/
.resume-inner-div{
    display: grid; /*Divido el layout de div en 3 secciones de las siguiente forma*/
    grid-template-areas: "skill education"
                         "skill education"
                         "skill language";
    grid-template-columns: 1fr 1fr; /*cada columna ocupara 1fr*/
    gap: 1rem; /*Separacion entre columnas y filas de 1 rem*/
}
/*Estilo para los divs que actuaran como tarjetas de informacion*/
.card{
    background-color: #ffffff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .15);
    border-radius: 5px;
    padding: .5rem; /*Espacio entre el borde del div y su contenido*/
}
/*Estilo para el titulo de las tarjetas*/
.card-title{
    font-size: larger;
    display: block;
    color: #105094;
    margin-bottom: 1rem;
}
/*Estilo para el div que contiene los skills*/
.skill-card{
    grid-area: skill; /*Indico que area del div principal ocupara*/
    display: flex; /*Hago flex la tarjeta de skill para que la <ul> pueda crecer hasta el final de este*/
    flex-direction: column; /*Los acomodo en columna de manera que los elementos se pongan uno debajo de otro*/
}   
    /*Estilo para la lista de habilidades*/
    .skill-list{
        list-style: none; /*Quito los estilos por defecto de la lista*/

        height: 100%; /*A la lista la hago crecer un 100% asi ocupe lo que queda de la tarjeta skill-card*/
        display: flex; /*Convierto la lista en flex*/
        flex-direction: column; /*Hago que cada elemento se posicione uno debajo de otro*/
        justify-content: space-around; /*Indico que los elementos de lista <li> se acomoden (dejando el mismo espacio) dependiendo del espacio disponible*/
        gap: 1rem;  /*Cuando el espacio del contenedor sea chico y space-around no se apreciable, dejaran siempre 1rem de espacio entre ellos*/
    }
    /*Estilo para cada fila de la lista  */
    .skill-list li{
        display: flex; /*Hago flex cada fila asi la imagen y el div de skills se posicione a la par*/
        align-items: center; /*Centro la imagen y el div al mismo nivel*/
        gap: .5rem; /*Espaciado entre la imagen y el div*/
        /*margin-bottom: 1rem; /*Espacio inferior entre cada lista*/
    }
    /*Estilo para las imagenes dentro de la lista*/
    .skill-list img{
        /*Tanto el tamaño y el ancho son los mismos que el div skill-list-element*/
        width: 31.19px;
        height: 31.19px;
    }
    /*Estilo para los divs de elementos dentro de la lista*/
    .skill-list-element{
        width: 100%; /*Los divs que contienen el nombre y progreso de los skills ocupara el 100% restante del li flex*/
    }
    /*Estilo para el div que contiene el nombre del skill y su nivel*/
    .skill-name{
        display: flex;
        justify-content: space-between; /*Separo el strong y span a las esquinas del div*/
        align-items: flex-end; /*Envio los elementos al fondo del div, es decir al borde inferior del div que los contiene */
    }
    /*Estilo para el span dentro del div contenedor de nombre de skill y nivel*/
    .skill-name span{
        font-size: 12px;
    }
    /*Estilo del div que simulara la barra de progreso (vacia)*/
    .progress-bar{
        margin-top: .2rem ; /*Espacio superior entre las barras de progreso y los nombres*/
        position: relative;
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background: #cccaca;
        overflow: hidden; /*Como el contenido "after" lo translade -100% fuera de la barra de progreso, entonces oculto todo lo que este fuera*/
    }
    /*Animacion que movera la posicion del elemento "after"*/
    @keyframes chargebar{
        to{
            /*El calculo se realiza: -100% + x% = -y% (el valor x lo obtengo como variable de cada elemento atraves del html)*/
            transform: translateX(calc(-100% + var(--level)));
        }
    }
    /*Estilo para crear un contenido que simulara la carga de la barra de progreso*/
    .progress-bar::after{
        content: '';
        position: absolute; /*Posicion absoluta respecto a progress-bar*/
        background: #1365b6;
        width: 100%;
        height: 6px;
        border-radius: 3px;
        transform: translateX(-100%); /*Traslado el contenido "after" a la izquierda con -100%, entonces mientras menor sea el % negativo, mas aparecera*/
        transition: transform 2s ease-in-out;
    }
    /*Este estilo se aplicaa cuando a cada div de barra de progreso se le agregue la clase "activada" atraves de js*/
    .progress-bar.charge-bar::after{
        /*animation: chargebar 2s ease-in-out forwards; /*Indico que se realiza la animacion y que se quede en su posicion final con forwards*/
        transform: translateX(calc(-100% + var(--level))); /*Funciona igual que con el keyframe pero sin necesidad de este*/
    }

.education-card{
    grid-area: education;
}
   /*Estilo para la lista de educacion*/
   .education-list{
        list-style: none; /*Quito los estilos por defecto de la lista*/
    }
    /*Estilo para cada fila de la lista  */
    .education-list li{
        display: flex;/*Hago flex cada fila asi el contenido se posicione a la par*/
        gap: 1rem; /*Espaciado entre los elementos del li*/
        margin-bottom: 1rem; /*Espacio inferior entre cada lista*/
        background-color: rgb(241, 241, 241);
        border-radius: 4px;
        padding: .5rem; /*Espaciado entre los bordes de la lista y su contenido*/
    }
    /*Estilo para el div que acturada como contenedor de la imagen de la educacion*/
    .education-img{
        display: grid; /*Le asigno un display grid para que el contenedor adopte un tamaño y la imagen del subcontenedor pueda verse*/
        border-radius: 4px;
        width: 20%; /*La imagen ocupara un 20% del ancho de la lista*/
        background-color: #fff;
    }
    /*Estilo para el div que tendra como fondo la imagen de la educacion*/
    .education-img-box{
        background-image: var(--img);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    /*Estilo para el div que tendra toda la informacion de una educacion en particular*/
    .education-info{
        width: 80%; /*Indico que la informacion ocupara un 80% del contenedor*/
    }
    /*Estilo para el titulo de la educacion, que esta dentro de "education-ifno"*/
    .education-title{
        display: block; /*Convierto el strong en block para poder ponerle margen bottom*/
        font-size: large;
        margin-bottom: .5rem; /*Dejo un espacio inferior para separarlo de la informacion de la adicional de la educacion*/
    }
    /*Estilo para cada linea que contiene informacion adicional de la carrera*/
    .education-info-line{
        display: flex;
        align-items: center; /*Centro horizontalmente los elementos*/
        flex-wrap: wrap; 
        margin: .25rem 0px; /*Dejo .25rem de espacio arriba y abajo entre cada line*/
    }
    /*Estilo para las imagenes dentro de cada line de informacion adicional*/
    .education-info-line img{
        width: 20px;
        height: 20px;        
    }
    /*Estilo para los parrafos dentro de cada linea de informacion adicional*/
    .education-info-line p{
        margin-left: .5rem;
    }
    /*Estilo para el enlace dentro la linea de informacion adicional*/
    .education-info-line a{
        color: #489de8;
        font-weight: 500;
    }
    /*Estilo para el enlace dentro la linea de informacion adicional cuando fue visitado*/
    .education-info-line a:visited {
        color: #489de8;
    }

.language-card{
    grid-area: language
}
    /*Estilo para la lista de lenguaje*/
    .language-list{
        list-style: none; /*Quito los estilos por defecto de la lista*/
    }
    /*Estilo para cada fila de la lista  */
    .language-list li{
        display: flex; /*Hago flex cada fila asi el contenido se posicione a la par*/
        align-items: center; /*Centro el contenido al mismo nivel*/
        gap: .2rem; /*Espaciado entre los elementos del li*/
        margin-bottom: 1rem; /*Espacio inferior entre cada lista*/
    }
    /*Estilo para las imagenes dentro de la lista*/
    .language-list img{
        width: 30px;
        height: 30px;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*                  DISEÑO RESPONSIVE-SECCION RESUME                */
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*Este estilo se aplicara cuando la resolucion de la pantalla sea 1200px o menos*/
@media screen and (max-width: 1200px){
    .resume-inner-div{
        grid-template-areas: "skill"
                             "education"
                             "language";
        grid-template-columns: 1fr; /*cada columna ocupara 1fr*/
        gap: 1rem; /*Separacion entre columnas y filas de 1 rem*/
    }
}
/* #endregion*/